.about
{
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    &__content
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__title
        {
            font-weight: 600;
            font-size: 46px;
            color: #fff;
        }
        &__text
        {
            margin-left: 10px;
            margin-top: 20px;
            font-size: 34px;
            color: #fff;
        }
        &__button
        {
            margin-left: 10px;
            margin-top: 22px;
            width: 205px;
            height: 64px;
            background: none;
            box-sizing: border-box;
            border-radius: 120px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            color: #fff;
            cursor: pointer;
            transition: .6s;
            border: #fff solid 1px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


@media(max-width: 1050px)
{
    .about
    {
        width: 93%;
        &__content
        {
            &__title
            {
                font-weight: 600;
                font-size: 38px;
                color: #fff;
            }
            &__text
            {
                margin-left: 5px;
                margin-top: 12px;
                font-size: 30px;
                color: #fff;
            }
            &__button
            {
                width: 190px;
                height: 60px;
            }
        }
    }
}

@media(max-width: 850px)
{
    .about
    {
        &__content
        {
            &__title
            {
                font-weight: 600;
                font-size: 32px;
                color: #fff;
            }
            &__text
            {
                font-size: 24px;
                color: #fff;
            }
            &__button
            {
                width: 180px;
                height: 55px;
                font-size: 16px;
            }
        }
    }
}