.footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	width: 86%;
	&__content
	{
		width: 96%;
		display: flex;
		justify-content: space-between;
		&__policy, &__copyright
		{
			color: #bebebe;
		}
		&__policy
		{
			cursor: pointer;
		}
	}
	
}

@media(max-width: 720px)
{
    .footer__content 
    {
		justify-content: center;
		flex-direction: column;
	}
}