.footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	&__content
	{
		width: 80%;
		display: flex;
		justify-content: space-between;
	}
	&__policy
	{
		cursor: pointer;
	}
	&__copyright,&__policy 
	{
		color: rgba(230, 230, 230, 0.6);
	}
}

@media(max-width: 720px)
{
    .footer__content 
    {
		justify-content: center;
		flex-direction: column;
	}
}