@keyframes fixing 
{
	0% {
		opacity: 0;
		top: -140px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.header 
{
	width: 100%;
	height: 90px;
	left: 0;
	top: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10000;

	&__content
	{
		height: 100%;
		width: 82%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__logo
		{
			cursor: pointer;
			height: 60%;
			transform: scale(1);
			transition: .5s;
			&:hover
			{
				transform: scale(1.1);
			}
		}
		&__nav
		{
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: .5s;
			&__links
			{
				&__link
				{
					font-family: Gilroy, sans-serif;
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 17px;
					color: var(--header-link-color, #212121);
					text-decoration: none;
					margin-right: 26px;
					transform: scale(1);
					transition: .5s;
					&:hover
					{
						color: var(--header-hover-link-color, #353535) !important;
						transform: scale(1.1);
					}
				}
			}
			&__switch 
			{
				position: relative;
				display: inline-block;
				width: 54px;
				height: 31px;
				transform: scale(1);
				transition: .5s;
				&:hover
				{
					transform: scale(1.1);
				}
				&__checkbox 
				{
					display: none;
					&:focus + .header__content__nav__switch__round 
					{
						box-shadow: 0 0 1px #6a6a6a;
					}
					&:checked + .header__content__nav__switch__round
					{
						background-color: #6a6a6a;
					}
					&:focus + .header__content__nav__switch__round:before 
					{
						box-shadow: 0 0 1px #909090;
					}
					&:checked + .header__content__nav__switch__round:before 
					{
						background-color: #909090;
						-webkit-transform: translateX(22px);
						-ms-transform: translateX(22px);
						transform: translateX(22px);
					}
				}
				&__round
				{
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #ccc;
					border-radius: 34px;
					-webkit-transition: .4s;
					transition: .4s;
					&::before
					{
						position: absolute;
						content: "";
						height: 25px;
						width: 25px;
						left: 3px;
						bottom: 3px;
						background-color: white;
						border-radius: 50%;
						-webkit-transition: .4s;
						transition: .4s;
					}
				}
			}
			&__button
			{
				cursor: pointer;
				display: none;
				width: 180px;
				height: 44px;
				color: var(--header-button-text-color, #cecece);
				background-color: var(--header-button-bg-color, #212121);
				border-radius: 120px;
				align-items: center;
				justify-content: center;
				font-family: Gilroy, sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 18px;
				transition: .6s all;

				&:hover 
				{
					transform: scale(1.1);
				}
				&:active 
				{
					border: none;
					outline: none;
				}
				&:focus 
				{
					border: none;
					outline: none;
				}
			}
		}
		&__button 
		{
			width: 180px;
			height: 44px;
			color: var(--header-button-text-color, #cecece);
			background-color: var(--header-button-bg-color, #212121);
			border-radius: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Gilroy, sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
			transition: .6s all;
			cursor: pointer;
			&:hover 
			{
				transform: scale(1.1);
			}
			&:active 
			{
				border: none;
				outline: none;
			}
			&:focus 
			{
				border: none;
				outline: none;
			}
		}
		&__burger 
		{
			cursor: pointer;
			position: relative;
			z-index: 200000;
			width: 50px;
			height: 50px;
			display: none;
			&:hover &__lines
			{
				filter: brightness(0.9);
				transition: .4s;
			}
			&__lines,&__lines::after,&__lines::before 
			{
				transition: .8s;
				position: absolute;
				width: 45px;
				height: 5px;
				background: var(--header-burger-bg-color, #212121);
			}
			&__lines 
			{
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}

			&__lines::after 
			{
				content: '';
				top: 12px;
			}
			&__lines::before 
			{
				content: '';
				top: -12px;
			}
		}
		&__burger.active 
		{
			.header__content__burger__lines 
			{
				background-color: transparent;
			}
			.header__content__burger__lines::before 
			{
				top: 0;
				transform: rotate(45deg);
			}
			.header__content__burger__lines::after 
			{
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

@media(max-width: 1050px)
{
	.header
	{
		height: 80px;
		&__content
		{
			width: 90%;
			&__logo
			{
				height: 55%;
			}
			&__nav
			{
				transform: translateX(100%);
				visibility: hidden;
				&.active
				{
					visibility: visible;
					transform: translateX(0);
				}
				background-color: var(--header-nav-bg-color,#cbcbcb);
				position: absolute;
				top: 0;
				right: 0;
				width: 60%;
				height: 100vh;
				flex-direction: column;
				justify-content: start;
				
				&__links
				{
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 20px;
					&__link
					{
						margin-right: 0;
						margin-top: 20px;
						font-size: 34px;
					}

				}
				&__switch
				{
					margin-top: 20px;
				}
				&__button
				{
					margin-top: 13px;
					display: flex;
				}
			}
			&__button
			{
				display: none;
			}
			&__burger
			{
				display: block;
			}
		}
	}
}

@media(max-width: 850px)
{
	.header
	{
		&__content
		{
			&__nav
			{
				width: 70%;
			}
		}
	}
}

@media(max-width: 650px)
{
	.header
	{
		&__content
		{
			&__nav
			{
				width: 80%;
			}
		}
	}
}


@media(max-width: 450px)
{
	.header
	{
		&__content
		{
			&__nav
			{
				width: 90%;
			}
		}
	}
}