.reviews
{
    width: 88%;
    margin-top: 100px;
    &__title
    {
        width: 100%;
        font-size: 48px;
        font-weight: 600;
        color: var(--reviews-title-color, #212121);
    }
    &__text
    {
        font-size: 36px;
        color: var(--reviews-text-color, #212121);
    }
    &__content
    {
        margin-top: 20px;
        &__answer
        {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            &__stars
            {
                width: 100%;
                text-align: start;
                margin-left: 5px;
            }
            &__text
            {
                width: 100%;
                font-size: 22px;
                color: var(--reviews-text-color, #212121);
                text-align: start;
            }
            &__name
            {
                width: 100%;
                font-size: 22px;
                color: var(--reviews-text-color, #212121);
                text-align: start;
                margin-top: 5px;
                margin-left: 5px;
            }
            &__company
            {
                width: 100%;
                font-size: 22px;
                color: var(--reviews-text-color, #212121);
                text-align: start;
                margin-left: 5px;
            }
        }
    }
}

@media(max-width: 1050px)
{
    .reviews
    {
        width: 93%;
        margin-top: 80px;
        &__title
        {
            font-size: 38px;
        }
        &__text
        {
            font-size: 30px;
        }
        &__content
        {
            &__answer
            {
                &__stars
                {
                    margin-left: 0;
                }
            }
        }
    }
}

@media(max-width: 850px)
{
    .reviews
    {
        margin-top: 60px;
        &__title
        {
            font-size: 32px;
        }
        &__text
        {
            font-size: 24px;
        }
        &__content
        {
            &__answer
            {
                &__stars
                {
                    margin-left: 0;
                }
                &__text
                {
                    font-size: 21px;
                }
                &__name
                {
                    font-size: 21px;
                }
                &__company
                {
                    font-size: 21px;
                }
            }
        }
    }
}

@media(max-width: 550px)
{
    .reviews
    {
        margin-top: 40px;
        &__title
        {
            font-size: 29px;
        }
        &__text
        {
            font-size: 18px;
        }
        &__content
        {
            &__answer
            {
                &__stars
                {
                    margin-left: 0;
                }
                &__text
                {
                    font-size: 17px;
                }
                &__name
                {
                    font-size: 17px;
                }
                &__company
                {
                    font-size: 17px;
                }
            }
        }
    }
}