.dark-theme
{
    --app-bg-color: #03030f;

    --selection-color: #61616133;

    --preloader-bg-color: #03030f;
    --preloader-loader-border-color: #fff;
    --preloader-loader-bar-color: #BF2CFC;

    --header-bg-color: #090920;
    --header-link-color: #e5e5e5;
    --header-hover-link-color: #fff;
    --header-button-text-color: #03030F;
    --header-button-bg-color: #fff;

    --header-nav-bg-color: #050516;
    --header-burger-bg-color: #fff;

    --about-title-color: #fff;
    --about-text-color: #fff;
    --about-button-text-color: #fff;
    --about-button-border-color: #fff;

    --projects-roadmap-title-color: #fff;
    --projects-roadmap-text-color: #fff;

    --projects-title-color: #fff;
    --projects-text-color: #fff;

    --reviews-title-color: #fff;
    --reviews-text-color: #fff;

    --contacts-title-color: #fff;
    --contacts-text-color: #fff;
    --contacts-input-text-color: #212121;
    --contacts-input-bg-color: #fff;
    --contacts-textarea-text-color: #212121;
    --contacts-textarea-bg-color: #fff;
    --contacts-button-text-color: #fff;
    --contacts-button-border-color: #fff;

    --footer-text-color: #e5e5e5;
    --footer-hover-text-color: #fff;
}