:root
{
    --app-bg-color: #03030f;

    --header-bg-color: #090920;
    --header-logo-image: url('./../../assets/img/components/Header/logo/white.svg');
    --header-link-color: #e5e5e5;
    --header-hover-link-color: #fff;
    --header-button-text-color: #03030F;
    --header-button-bg-color: #fff;

    --about-title-color: #fff;
    --about-text-color: #fff;

    --projects-roadmap-title-color: #fff;
    --projects-roadmap-text-color: #fff;

    --projects-title-color: #fff;
    --projects-text-color: #fff;

    --reviews-title: #fff;
    --reviews-text: #fff;

    --contacts-title-color: #fff;
    --contacts-text-color: #fff;
    --contacts-input-color: #fff;
    --contacts-textarea-color: #fff;
    --contacts-button-border-color: #fff;

    --footer-text-color: #e5e5e5;
    --footer-hover-text-color: #fff;
}