:root
{
    --app-bg-color: #e7e7e7;

    --selection-color: #61616133;

    --header-bg-color: #b4b4b4;
    --header-link-color: #212121;
    --header-hover-link-color: #353535;
    --header-button-text-color: #cecece;
    --header-button-bg-color: #212121;

    --header-nav-bg-color: #cbcbcb;
    --header-burger-bg-color: #212121;

    --about-title-color: #212121;
    --about-text-color: #212121;
    --about-button-text-color: #212121;
    --about-button-border-color: #212121;

    --projects-roadmap-title-color: #212121;
    --projects-roadmap-text-color: #212121;

    --projects-title-color: #212121;
    --projects-text-color: #212121;

    --reviews-title-color: #212121;
    --reviews-text-color: #212121;

    --contacts-title-color: #212121;
    --contacts-text-color: #212121;
    --contacts-input-text-color: #212121;
    --contacts-input-bg-color: #c9c9c9;
    --contacts-textarea-text-color: #212121;
    --contacts-textarea-bg-color: #c9c9c9;
    --contacts-button-text-color: #212121;
    --contacts-button-border-color: #212121;

    --footer-text-color: #212121;
    --footer-hover-text-color: #353535;
}